<!DOCTYPE html>
<html>

<app-head></app-head>

<body>
    <app-header></app-header>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="col-10 col-md-8 col-lg-6">

                <h1>Quitor bank</h1>
                <div class="card border-primary" style="max-width: 18rem;">
                    <div class="row align-items-center"></div>
                    <div class="col-md-12"></div>
                    <div class="card-header">Meld je aan</div>
                    <div class="card-body text-primary">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="username" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="password" name="password">
                            </div>
                            <!--TODO reove me-->
                            <button type="submit" class="btn btn-primary btn-block" (click)="handleLogin()">Aanmelden</button>
                        </form>
                        <!-- <p *ngIf="errorMessage" class="login__error-message">[(ngModel)]="{{errorMessage}}"</p> -->
                    </div>
                </div>
            
            </div>
            
          </div>
    </div>
</body>

</html>